<%- include("templates/header") %>

	<h3>
		Add Dog
	</h3>
	<img src="/images/tempDefaultUser.png" id="demoPic" class="rounded-circle"
	style="width: 150px; height: 150px; object-fit: cover;">
	<form method="post" enctype="multipart/form-data">
		<%- include('templates/uploadFile', {divId:'newDogPic', xDivAttributes:'', fileId:'dogPicInput',fileName:'dogUpload', label:'Upload a New Photo:', xfileAttributes:'accept=.png,.jpg'}) %>

		<div class="form-group">
			<label for="dogName">Dog Name:</label>
			<input type="text" id="dogName" name="dogName" required>
		</div>

		<br>

		<%- include('templates/checkmark', {classes: '', value:'neutered', name:'neuteredStatus', id: 'neuteredStatus', label:'Neutered'}) %>

		<br>

		<div class="form-check">
			<input class="form-check-input" type="radio" name="sex" value="M" id="sexM" checked>
			<label class="form-check-label" for="sexM">
				Male
			</label>
		</div>

		<div class="form-check">
			<input class="form-check-input" type="radio" name="sex" value="F" id="sexF" >
			<label class="form-check-label" for="sexF">
				Female
			</label>
		</div>

		<br>

		<%- include('templates/dateInput', {divId: 'birthdayDateDiv', xDivAttributes:'', dateId: 'birthday', dateName:'birthday', label:'Birthday', xDateAttributes:'required'}) %>
		
		<br>
		
		<div class="form-group">
			<label for="weight">Weight:</label>
			<input type="number" id="weight" name="weight" min="0">
		</div>

		<br>

		<div class="form-group">
			<label for="specialAlerts">Special Alerts</label>
			<textarea class="form-control" id="specialAlerts" name="specialAlerts" rows="3"></textarea>
		</div>

		<br>

		<label for="vaccinations">Vaccinations</label>
		<div id="vaccinations">
			<%- include('templates/checkmark', {classes: 'vaccination', value:'rabies', name:'vaccineCheck', id: 'rabies', label:'Rabies'}) %>
			<%- include('templates/dateInput', {divId: 'rabiesDateDiv', xDivAttributes:'style=display:none', dateId: 'rabiesDate', dateName:'rabiesDate', label:'Expiration Date', xDateAttributes:''}) %>
			<%- include('templates/uploadFile', {divId:'rabiesProofDiv', xDivAttributes:'style=display:none', fileId: 'rabiesProof', fileName:'dogUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'accept=.pdf'})%>
			
			<%- include('templates/checkmark', {classes: 'vaccination', value:'leptospia', name:'vaccineCheck', id: 'leptospia', label:'Leptospia'}) %>
			<%- include('templates/dateInput', {divId: 'leptospiaDateDiv', xDivAttributes:'style=display:none', dateId: 'leptospiaDate', dateName:'leptospiaDate', label:'Expiration Date', xDateAttributes:''}) %>
			<%- include('templates/uploadFile', {divId:'leptospiaProofDiv', xDivAttributes:'style=display:none', fileId: 'leptospiaProof', fileName:'dogUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'accept=.pdf'})%>

			<%- include('templates/checkmark', {classes: 'vaccination', value:'bordatella', name:'vaccineCheck', id: 'bordatella', label:'Bordatella'}) %>
			<%- include('templates/dateInput', {divId: 'bordatellaDateDiv', xDivAttributes:'style=display:none', dateId: 'bordatellaDate', dateName:'bordatellaDate', label:'Expiration Date', xDateAttributes:''}) %>
			<%- include('templates/uploadFile', {divId:'bordatellaProofDiv', xDivAttributes:'style=display:none', fileId: 'bordatellaProof', fileName:'dogUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'accept=.pdf'})%>

			<%- include('templates/checkmark', {classes: 'vaccination', value:'bronchiseptica', name:'vaccineCheck', id: 'bronchiseptica', label:'Bronchiseptica'}) %>
			<%- include('templates/dateInput', {divId: 'bronchisepticaDateDiv', xDivAttributes:'style=display:none', dateId: 'bronchisepticaDate', dateName:'bronchisepticaDate', label:'Expiration Date', xDateAttributes:''}) %>
			<%- include('templates/uploadFile', {divId:'bronchisepticaProofDiv', xDivAttributes:'style=display:none', fileId: 'bronchisepticaProof', fileName:'dogUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'accept=.pdf'})%>
			
			<%- include('templates/checkmark', {classes: 'vaccination', value:'DA2PP', name:'vaccineCheck', id: 'DA2PP', label:'DA2PP'}) %>
			<%- include('templates/dateInput', {divId: 'DA2PPDateDiv', xDivAttributes:'style=display:none', dateId: 'DA2PPDate', dateName:'DA2PPDate', label:'Expiration Date', xDateAttributes:''}) %>
			<%- include('templates/uploadFile', {divId:'DA2PPProofDiv', xDivAttributes:'style=display:none', fileId: 'DA2PPProof', fileName:'dogUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'accept=.pdf'})%>
		</div>

		<%- include('templates/button', {action:'/addingDog',xClasses:'',xAttributes:'',content:'Submit'})%>
	</form>


	<script src="/scripts/addDog.js"></script>
	<%- include("templates/footerCopyright") %>