<%- include("templates/header") %>
	<div class="profile-container my-4 mx-3">
		<%- include('templates/linkButton', {page: '/clientProfile/'+clientId, content: "Back"}) %>
		<h1 class="text-center my-4 yeseva-one"><%=dog.dogName%></h1>
		<div class="d-flex justify-content-center">
			<%- include('templates/defaultingPic', {pic: dog.dogPic, picId: 'dogPic'})%>
		</div>
		<div class="resource-wrap d-flex justify-content-center">
			<div class="resource-html justify-content-center flex-fill" style="max-width:500px;">
				<input id="tabR-1" type="radio" name="tab" class="tabR-one btn-check" checked>
				<label for="tabR-1" class="tabR">Dog Profile</label>
				<input id="tabR-2" type="radio" name="tab" class="tabR-two btn-check">
				<label for="tabR-2" class="tabR">Vaccination Records</label>
			<div class="resource-form">
				<div class="tabR-one-htm">
			<form class="my-3" id="basicInfo" method="post" enctype="multipart/form-data">
				<%- include('templates/uploadFile', {divId:'newDogPic', xDivAttributes:'style=display:none', fileId:'dogUpload',fileName:'dogUpload', label:'Upload a New Photo:', xfileAttributes:'accept=.png,.jpg, .jpeg'}) %>
					<div class="form-group">
						<label for="dogName">Name:</label>
						<input class="dogInput" type="text" id="dogName" name="dogName" value="<%=dog.dogName%>" required disabled>
					</div>
					
					<div class="check-buttons mb-4 mt-2">
						<% if (dog.neuteredStatus == 'neutered') {%>
							<%- include('templates/checkmark', {classes: 'dogInput', value:'neutered', name:'neuteredStatus', id: 'neuteredStatus', label:'Neutered', xAttr:'checked disabled'}) %>
						<% } else { %>
							<%- include('templates/checkmark', {classes: 'dogInput', value:'neutered', name:'neuteredStatus', id: 'neuteredStatus', label:'Neutered', xAttr:'disabled'}) %>
						<%}%>
					</div>
					<div class="radio-buttons mb-4">
						<% if(dog.sex == 'M') { %>
						<div class="form-check" style="max-width:fit-content;">
							<input class="form-check-input dogInput" type="radio" name="sex" value="M" id="sexM" checked disabled>
							<label class="form-check-label" for="sexM">Male</label>
						</div>
					
						<div class="form-check" style="max-width:fit-content;">
							<input class="form-check-input dogInput" type="radio" name="sex" value="F" id="sexF" disabled>
							<label class="form-check-label" for="sexF">Female</label>
						</div>
						<%} else {%> 
						<div class="form-check" style="max-width:fit-content;">
							<input class="form-check-input dogInput" type="radio" name="sex" value="M" id="sexM" disabled>
							<label class="form-check-label" for="sexM">Male</label>
						</div>
					
						<div class="form-check" style="max-width:fit-content;">
							<input class="form-check-input dogInput" type="radio" name="sex" value="F" id="sexF" checked disabled>
							<label class="form-check-label" for="sexF">Female</label>
						</div>
					
						<%}%>
					</div>
					
					<%- include('templates/dateInput', {divId: 'birthdayDateDiv', xDivAttributes:'', dateId: 'birthday',dateClass:'dogInput', dateName:'birthday', label:'Birthday', xDateAttributes:'value=' + dog.birthday + ' required disabled'}) %>
						
					<div class="form-group">
						<label for="weight">Weight (lb):</label>
						<input class="dogInput" type="number" id="weight" name="weight" min="0" value="<%=dog.weight%>" disabled>
					</div>
						
					<div class="form-group">
						<label for="specialAlerts">Special Alerts</label>
						<textarea class="form-control auto-resize dogInput" id="specialAlerts" name="specialAlerts" rows="3" disabled><%=dog.specialAlerts%></textarea>
					</div>
				</form>
				</div>
				</div>
				
				<div class="resource-form">
					<div class="tabR-two-htm">

				<form class="my-3" id="vaccineInfo" method="post" action="/dog/<%= dog._id %>/editVaccines" enctype="multipart/form-data">
                  <div class="my-3 py-2">
                    <h5 style="font-weight:700;">Rabies</h5>
                    <%- include('templates/dateInput', {divId: 'rabiesDateDiv', xDivAttributes:'', dateId: 'rabiesDate',dateClass:'vaccineInput', dateName:'rabiesDate', label:'Expiration Date', xDateAttributes:'disabled value=' + dog.rabies.expirationDate}) %>
                    <%- include('templates/uploadFile', {divId:'rabiesProofDiv', xDivAttributes:'class=vaccineUpload style=display:none', fileId: 'rabiesProof', fileName:'rabiesUpload', label:'Please Provide a Vaccination Record for Proof', xfileAttributes: 'class=vaccineProof accept=.pdf'}) %>
                  </div>

                  <div class="my-3 py-2">
                    <h5 style="font-weight:700;">Leptospia</h5>
                    <%- include('templates/dateInput', {divId: 'leptospiaDateDiv', xDivAttributes:'', dateId: 'leptospiaDate',dateClass:'vaccineInput', dateName:'leptospiaDate', label:'Expiration Date', xDateAttributes:'disabled value=' + dog.leptospia.expirationDate}) %>
                    <%- include('templates/uploadFile', {divId:'leptospiaProofDiv', xDivAttributes:'class=vaccineUpload style=display:none', fileId: 'leptospiaProof', fileName:'leptospiaUpload', label:'Provide New Proof of Vaccination', xfileAttributes: 'class=vaccineProof accept=.pdf'}) %>
                  </div>

                  <div class="my-3 py-2">
                    <h5 style="font-weight:700;">Bordatella</h5>
                    <%- include('templates/dateInput', {divId: 'bordatellaDateDiv', xDivAttributes:'', dateId: 'bordatellaDate',dateClass:'vaccineInput', dateName:'bordatellaDate', label:'Expiration Date', xDateAttributes:'disabled value=' + dog.bordatella.expirationDate}) %>
                    <%- include('templates/uploadFile', {divId:'bordatellaProofDiv', xDivAttributes:'class=vaccineUpload style=display:none', fileId: 'bordatellaProof', fileName:'bordatellaUpload', label:'Provide New Proof of Vaccination', xfileAttributes: 'class=vaccineProof accept=.pdf'}) %>
                  </div>

                  <div class="my-3 py-2">
                    <h5 style="font-weight:700;">Bronchiseptica</h5>
                    <%- include('templates/dateInput', {divId: 'bronchisepticaDateDiv', xDivAttributes:'', dateId: 'bronchisepticaDate',dateClass:'vaccineInput', dateName:'bronchisepticaDate', label:'Expiration Date', xDateAttributes:'disabled value=' + dog.bronchiseptica.expirationDate}) %>
                    <%- include('templates/uploadFile', {divId:'bronchisepticaProofDiv', xDivAttributes:'class=vaccineUpload style=display:none', fileId: 'bronchisepticaProof', fileName:'bronchisepticaUpload', label:'Provide New Proof of Vaccination', xfileAttributes: 'class=vaccineProof accept=.pdf'}) %>
                  </div>

                  <div class="my-3 py-2">
                    <h5 style="font-weight:700;">DA2PP</h5>
                    <%- include('templates/dateInput', {divId: 'DA2PPDateDiv', xDivAttributes:'', dateId: 'DA2PPDate',dateClass:'vaccineInput', dateName:'DA2PPDate', label:'Expiration Date', xDateAttributes:'disabled value=' + dog.DA2PP.expirationDate}) %>
                    <%- include('templates/uploadFile', {divId:'DA2PPProofDiv', xDivAttributes:'class=vaccineUpload style=display:none', fileId: 'DA2PPProof', fileName:'DA2PPUpload', label:'Provide New Proof of Vaccination', xfileAttributes: 'class=vaccineProof accept=.pdf'}) %>
                  </div>
                </form>
				</div>
			</div>
				</div>
				</div>
</div>
			<script>

				//Identify what form to show on page
				var page = 'basic';

				//Basic Form displays and edits all basic information
				//Vaccine Form displays and edits all vaccine related information
				let basicForm = document.getElementById('basicInfo');
				let vaccineForm = document.getElementById('vaccineInfo');
				
				//Toggles between the two forms
				let toggleButton = document.getElementById('viewVaccines');

			</script>
			<%- include("templates/footerCopyright") %>