<%- include("templates/header") %>
	<div class="container d-flex justify-content-center align-items-center vh-50">
		<form method='get text-center'>
			<h1 class="display-1 yeseva-one fw-bold orange">Error
			<%= errorTitle %></h1>
			<p class="display-6 karla-heavy fw-bold orange"><%= errorMsg %></p>
			<%- include('templates/button', {action:'/',xClasses:'btn-primary',xAttributes:'',content:'Return to Home'}) %>
			<!-- <button formaction='/'>Return to Home</button> -->
		</form>
	</div>
<%- include("templates/footerCopyright") %>
