<%- include("templates/header") %>
<div class="container">
    <p class="h5">Hire Request</span> from <%=alert.clientName%></p>
    <p>They are interest in enrolling their dog <span class="karla-heavy"><%=alert.dogName%></span> in the <span class="karla-heavy"><%=alert.programName%> program</span></p>
    <div class="card">
        <div class="card-title">
            <%- include('templates/defaultingPic', {picId: 'dogPic', pic: dog.dogPic}) %>
            <p class="h5"><%=alert.dogName%></p>
        </div>
        <div class="card-body">
            <% if(dog.neuteredStatus == ''){ %>
                <p>Neutered Status: Unneutered</p>
            <% } else { %>
                <p>Neutered Status: Neutered</p>
            <% } %>

            <p>Sex: <%=dog.sex%></p>
            <p> Weight: <%=dog.weight%> lb</p>

            <p>Special Alerts: <%=dog.specialAlerts%></p>
        </div>
    </div>
</div>
<%- include("templates/footerCopyright") %>