<%- include("templates/header") %>
<div>
	<% if (!loggedIn) { %>
		<%- include('templates/hero', {content: 'Where pet professionals and pet owners come together'}) %>
		<!-- Navigational Previews using BootStrap cards
			TODO: Catherine makes the second button on the bottom two cards
			into a popup instead of redirect-->
		<section class="py-3 py-md-5">
			<div class="container overflow-visible">
				<div class="row gy-5">
					
					<%- include('templates/clientPreview', { 
						title: 'Canine-Centered Connections', 
						content: 'Join our community of passionate animal professionals and pet owners. Connecting and scheduling made easy, by pet people, for pet people.',
						prevClass: 'offset-3 offset-sm-4 offset-md-6 upperShadow',
						actionOne: '/login',
						classesOne: 'lg-button',
						attributesOne: '',
						contentOne: 'LOGIN',
						actionTwo: '/signup',
						classesTwo: 'lg-button',
						attributesTwo: '',
						contentTwo: 'REGISTER',
						imageUrl: 'images/PawPrintsFade.png'
					}) %>

					<%- include('templates/clientPreview', { 
						title: 'Finding a Trainer', 
						content: 'With our network of trainers, finding the perfect one for you is just a paw trick away! Learn more about what we require from our trainers.',
						prevClass: 'lowerShadow',
						actionOne: '/',
						classesOne: '',
						attributesOne: '',
						contentOne: 'Learn More',
						actionTwo: '/',
						classesTwo: '',
						attributesTwo: '',
						contentTwo: 'Find a Trainer',
						imageUrl: 'images/PawTrickFade.png'
					}) %>

					<%- include('templates/clientPreview', { 
						title: 'Helpful Resources', 
						content: 'Thinking about getting a dog? Looking for helpful care guides or canine enrichment ideas? Browse our curated articles, videos, and more!',
						prevClass: 'offset-3 offset-sm-4 offset-md-6 upperShadow',
						actionOne: '/clientResources',
						classesOne: '',
						attributesOne: '',
						contentOne: 'All Resources',
						actionTwo: '/',
						classesTwo: '',
						attributesTwo: '',
						contentTwo: 'Trusted Professionals',
						imageUrl: 'images/PupReadFade.png'
					}) %>

				</div>
			</div>
		</section> 
	<% } else { %>
		hi <%= name %>
		<form method="get">
				<%- include('templates/button', {action:'/logout',xClasses:'',xAttributes:'',content:'Get me out of here'}) %>
				<!-- <button formaction="/logout">Get me out of here</button> -->
		</form>
	<% } %>
</div>
<%- include("templates/footerCopyright") %>