<div class="hireRequest card m-2 p-2 smallShadow alertCard orangeBackgroundFade" style="background-color:#ffa05c8e; color:#201335; border-radius:1px;"> <!--hireRequest MUST BE THE FIRST CLASS-->
    <a href="<%=currentUrl%>/view/<%=alert._id%>" ><h5 class="card-title h4 fw-bold">Hire Request</span> from <%=alert.clientName%></h5>
    <p class="karla-heavy">They are interested in enrolling their dog <span class="fw-bold"><%=alert.dogName%></span> in the <span class="fw-bold"><%=alert.programName%> program</span></p></a>
</div>