<div class="card my-2 hireRequest">
    <a href='<%=currentUrl%>/view/<%=alert._id%>'><p class="h5"><span class="bolder">Hire Request</span> from <span class="bolder"><%=alert.clientName%></span></a> 
    <p>They are interest in enrolling their dog <%=alert.dogName%> in the <%=alert.programName%></p>
</div>