<div class="hireRequest card m-4 p-2 smallShadow alertCard purpleBackground white"> <!--hireRequest MUST BE THE FIRST CLASS-->
    <a href="<%=currentUrl%>/view/<%=alert._id%>" ><h5 class="card-title h4">Hire Request</span> from <%=alert.clientName%></h5>
    <p>They are interested in enrolling their dog <span class="fw-bold"><%=alert.dogName%></span> in the <span class="fw-bold"><%=alert.programName%> program</span></p></a>
</div>