<div class="form-check" style="max-width:fit-content;">
    <input class="form-check-input <%=classes%>" type="checkbox" value="<%=value%>" name="<%=name%>" id="<%=id%>" <%=xAttr%>>
    <label class="form-check-label" for="<%=id%>">
        <%=label%>
    </label>
</div>