<div class="form-group" id="<%=divId%>" <%=xDivAttributes%>>
    <label for="<%=dateId%>"><%=label%></label>
    <input class="<%=dateClass%>" type="date" id="<%=dateId%>" name="<%=dateName%>" <%=xDateAttributes%>>
</div>