<div class="card" style="width: 18rem;">
  <%- include('defaultingPic', {pic: dog.dogPic, picId: dog._id + 'OldPic'})%>
    <div class="card-body">
      <h5 class="card-title"><%=dog.dogName%></h5>
      <form>
    <%- include('button', {action:'/dog/' + dog._id,xClasses:'seeMore',xAttributes:'',content:'See More'}) %>
  </form>
    </div>
  </div>

  <!--
  <div class="modal" id="<%=dog._id%>Modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%=dog.dogName%></h5>
          <%- include('button', {action:'',xClasses:'close',xAttributes:'name=' + dog._id + ' id=' + dog._id + 'CloseButton type=button data-bs-dismiss=modal',content:'X'}) %>
          <p id="<%=dog._id%>CloseWarning" style="display:none">Save your changes!</p>
        </div>
        <div class="modal-body">
          <%- include('defaultingPic', {pic: dog.dogPic, picId: dog._id + 'ModalPic'})%>

            <form method="post" action="/profile/updateDog/<%=dog._id%>" id="<%=dog._id%>UpdateForm">
              <%- include('uploadFile', {divId:dog._id + 'newDogPic', xDivAttributes:'style=display:none', fileId:'dogPicInput',fileName:'dogUpload', label:'Upload a New Photo:', xfileAttributes:'class= field' + dog._id + ' accept=.png,.jpg'}) %>
				<div class="form-group">
					<label for="dogName">Dog Name:</label>
					<input class="modalInput field<%=dog._id%>" type="text" id="dogName" name="dogName" value="<%=dog.dogName%>" required>
				</div>
				
				<br>
				<% if (dog.neuteredStatus == 'neutered') {%>
				  <%- include('checkmark', {classes: 'modalInput field' + dog._id, value:'neutered', name:'neuteredStatus', id: 'neuteredStatus', label:'Neutered', xAttr:'checked'}) %>
        <% } else { %>
          <%- include('checkmark', {classes: 'modalInput field' + dog._id, value:'neutered', name:'neuteredStatus', id: 'neuteredStatus', label:'Neutered', xAttr:'checked'}) %>
        <%}%>
				
				<br>
				
        <% if(dog.sex == 'M') { %>
          <div class="form-check">
            <input class="form-check-input modalInput field<%=dog._id%>" type="radio" name="sex" value="M" id="sexM" checked>
            <label class="form-check-label" for="sexM">
              Male
            </label>
          </div>
          
          <div class="form-check">
            <input class="form-check-input modalInput field<%=dog._id%>" type="radio" name="sex" value="F" id="sexF" >
            <label class="form-check-label" for="sexF">
              Female
            </label>
          </div>
        <%} else {%> 
          <div class="form-check">
            <input class="form-check-input modalInput field<%=dog._id%>" type="radio" name="sex" value="M" id="sexM">
            <label class="form-check-label" for="sexM">
              Male
            </label>
          </div>
          
          <div class="form-check">
            <input class="form-check-input modalInput field<%=dog._id%>" type="radio" name="sex" value="F" id="sexF" checked>
            <label class="form-check-label" for="sexF">
              Female
            </label>
          </div>
        
        <%}%>
				
				<br>
				
				<%- include('dateInput', {divId: 'birthdayDateDiv', xDivAttributes:'', dateId: 'birthday',dateClass:'modalInput field' + dog._id, dateName:'birthday', label:'Birthday', xDateAttributes:'value=' + dog.birthday + ' required'}) %>
				 
				<br>
				
				<div class="form-group">
					<label for="weight">Weight (lb):</label>
					<input class="modalInput field<%=dog._id%>" type="number" id="weight" name="weight" min="0" value="<%=dog.weight%>">
				</div>
				
				<br>
				
				<div class="form-group">
					<label for="specialAlerts">Special Alerts</label>
					<textarea class="form-control modalInput field<%=dog._id%>" id="specialAlerts" name="specialAlerts" rows="3"><%=dog.specialAlerts%></textarea>
				</div>
				</form>
        </div>
        <div class="modal-footer">
          <%- include('button', {action:'',xClasses:'editButton',xAttributes:'id=' + dog._id +'EditButton name=' + dog._id + ' type=button',content:'Edit'}) %>
          <%- include('button', {action:'',xClasses:'saveButton',xAttributes:'id=' + dog._id +'SaveButton name=' + dog._id + ' type=button style=display:none',content:'Save'}) %>
        </div>
      </div>
    </div>
  </div>
-->



  