<div class="card m-4 smallShadow" style="background-color:#20133541; color:#201335; border-radius:1px;">
  <div class="d-flex justify-content-center m-2">
    <%- include('defaultingPic', {pic: dog.dogPic, picId: dog._id + 'OldPic'})%>
  </div>
    <div class="card-body">
      <a href="/dog/<%=dog._id%>"> <h5 class="card-title h4 text-center yeseva-one"><%=dog.dogName%></h5></a>
      <p class="karla-heavy text-center"><span class="fw-bold">Breed: </span><%=dog.breed%></p>
      <form class="d-flex justify-content-center">
        <%- include('button', {action:'/clientProfile/' + c_id + '/dogView/' + dog._id, xClasses:'seeMore', xAttributes:'', content:'See More'}) %>
      </form>
    </div>
  </div>