<!--Preview cards for the homepage, including a script template to include
    user information.-->
<div class="col-12">
    <div class="row align-items-center justify-content-center gy-3 gy-md-0 gx-xl-5">
        <div class="col-9 col-sm-8 col-md-6 background-container-preview <%= prevClass %>" style="background-image: url('<%= imageUrl %>');">
            <div>
                <a href="<%= actionOne %>">
                    <h1 class="h1 mb-3"><%= title %></h1>
                </a>
                <p class="mb-4 karla-heavy"><%= content %></p>
                <div class="container d-none" id="<%= divObjectId %>"></div>
                <form method="get">
                
                </form>
            </div>
        </div>
    </div>
</div>

<!--Dynamic loading of client information.-->
<script type="text/template" id="clientCardTemplate">
    <div class="clientCard">
        <h5 class="card-title h4 text-center yeseva-one">[firstNamePlaceholder] [lastNamePlaceholder]</h5>
        <p class="karla-heavy fw-bold text-center">[emailPlaceholder]</p>
        <div class="dogsContainer d-flex flex-wrap justify-content-between"></div>
    </div>
</script>