<div class="login-wrap" style="background: url('/images/BeachPaws.png') center no-repeat; background-size:cover;">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab"><%= login %></label>
        <input id="tab-2" type="radio" name="tab" class="sign-up">
        <label for="tab-2" class="tab"><%= signup %></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form id="loginForm" method="post">
                    <div class="group">
                        <label for="email" class="label"><%= loginEmail %></label>
                        <input id="email" type="email" class="input" name="email">
                    </div>
                    <div class="group">
                        <label for="pass" class="label"><%= loginPassword %></label>
                        <input id="pass" type="password" class="input" name="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <%- include('button', {action:'/submitLogin',xClasses:'button',xAttributes:'id=loginSubmit',content:'Submit'}) %>
                    </div>
                </form>
                <form method="get"></form>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="/forgotPassword">Forgot Password?</a>
                    </div>
                </form>
            </div>
            <% if(type == 'clientLogin'){ %> 
            <div class="sign-up-htm">
                <form id="signupForm" method="post">
                    <div class="group">
                        <label for="firstnameField" class="label"><%= firstName %></label>
                        <input name="firstName" id="firstnameField" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="lastnameField" class="label"><%= lastName %></label>
                        <input name="lastName" id="lastnameField" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="emailField" class="label"><%= signupEmail %></label>
                        <input name="email" id="emailField" type="email" class="input">
                    </div>
                    <div class="group">
                        <label for="phoneField" class="label"><%= phone %></label>
                        <input name="phone" id="phoneField" type="tel" class="input">
                    </div>
                    <div class="group">
                        <label for="passwordField" class="label"><%= signupPass %></label>
                        <input name="password" id="passwordField" type="password" class="input passwordField">
                    </div>
                    <div class="group">
                        <label for="confirmPasswordField" class="label"><%= confirmPass %></label>
                        <input name="confirmPassword" id="confirmPasswordField" type="password" class="input passwordField">
                        <p id="passwordWarning" class="purple" style="font-weight:bolder; font-style:italic; text-shadow: -1px -1px 0 #F0F1FA, 1px -1px 0 #F0F1FA, -1px 1px 0 #F0F1FA, 1px 1px 0 #F0F1FA;"></p>
                    </div>
                    <div class="group">
                        <%- include('button', {action:'/submitSignup/client',xClasses:'button',xAttributes:'id=signUpSubmit disabled',content:'Submit'}) %>
                        <!-- <button id="signUpSubmit" formaction="/submitSignup/client" disabled>Submit</button> -->
                    </div>
                </form>
                <form method="get">
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already a Member?</a>
                </form>
            </div>
            <% } else if(type == 'businessLogin'){ %>
                <div class="sign-up-htm">
                    <form id="signupForm" method="post">
                        <div class="group">
                            <label for="companyNameField" class="label"><%= companyName %></label>
                            <input name="companyName" id="companyNameField" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="firstnameField" class="label"><%= firstName %></label>
                            <input name="firstName" id="firstnameField" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="lastnameField" class="label"><%= lastName %></label>
                            <input name="lastName" id="lastnameField" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="emailField" class="label"><%= signupEmail %></label>
                            <input name="businessEmail" id="emailField" type="email" class="input">
                        </div>
                        <div class="group">
                            <label for="phoneField" class="label"><%= phone %></label>
                            <input name="businessPhone" id="phoneField" type="tel" class="input">
                        </div>
                        <div class="group">
                            <label for="companyWebsiteField" class="label"><%= companySite %></label>
                            <input name="companyWebsite" id="companyWebsiteField" type="text" class="input">
                        </div>
                        <div class="group">
                            <input id="basicObedienceCheck" name="services" value="Basic Obedience" type="checkbox" class="check">
                            <label for="basicObedienceCheck" style="font-weight:bold; text-shadow: -0.5px -0.5px 0 #F0F1FA, 0.5px -0.5px 0 #F0F1FA, -0.5px 0.5px 0 #F0F1FA, 0.5px 0.5px 0 #F0F1FA;"><span class="icon"></span> Basic Obedience</label>
                        </div>
                        <div class="group">
                            <input id="reactivityCheck" name="services" value="Reactivity" type="checkbox" class="check">
                            <label for="reactivityCheck" style="font-weight:bold; text-shadow: -0.5px -0.5px 0 #F0F1FA, 0.5px -0.5px 0 #F0F1FA, -0.5px 0.5px 0 #F0F1FA, 0.5px 0.5px 0 #F0F1FA;"><span class="icon"></span> Reactivity</label>
                        </div>
                        <div class="group">
                            <input id="sepAnxCheck" name="services" value="Separation Anxiety" type="checkbox" class="check">
                            <label for="sepAnxCheck" style="font-weight:bold; text-shadow: -0.5px -0.5px 0 #F0F1FA, 0.5px -0.5px 0 #F0F1FA, -0.5px 0.5px 0 #F0F1FA, 0.5px 0.5px 0 #F0F1FA;"><span class="icon"></span> Separation Anxiety</label>
                        </div>
                        <div class="group">
                            <label for="passwordField" class="label"><%= signupPass %></label>
                            <input name="password" id="passwordField" type="password" class="input passwordField">
                        </div>
                        <div class="group">
                            <label for="confirmPasswordField" class="label"><%= confirmPass %></label>
                            <input name="confirmPassword" id="confirmPasswordField" type="password" class="input passwordField">
                            <p id="passwordWarning" class="purple" style="font-weight:bolder; font-style:italic; text-shadow: -1px -1px 0 #F0F1FA, 1px -1px 0 #F0F1FA, -1px 1px 0 #F0F1FA, 1px 1px 0 #F0F1FA;"></p>
                        </div>
                        <div class="group">
                            <%- include('button', {action:'/submitSignup/business',xClasses:'button',xAttributes:'id=signUpSubmit disabled',content:'Submit'}) %>
                            <!-- <button id="signUpSubmit" formaction="/submitSignup/client" disabled>Submit</button> -->
                        </div>
                    </form>
                    <form method="get">
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already a Member?</a>
                    </form>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</div>


<script src="/scripts/signUp.js"></script>