<div class="card p-2">
    <div class="card-title">
        <% if(business.logo == '' || business.logo == null){ %> 
            <img src="/images/DefaultAvatar.png" alt="..." class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;">
            
        <% } else { %>
            <img src="<%= business.logo %>" alt="..." class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;">
           <% } %>
        <a href="/viewBusiness/<%=business.companyName%>"><span class="h4"><%=business.companyName%></span></a>
    </div>
    <div class="card-body">
        <p>Trainer: <%=trainer.firstName%> <%=trainer.lastName%></p>
        Services:
        <input class="searchString" type="hidden" value="<%=business.searchString%>">
        <% for(let i=0; i < business.services.length; i++){ %>
            <span class="border p-1 mx-1"><%=business.services[i]%></span>
        <% } %>
    </div>
</div>