<div class="form-group my-2" id="<%=divId%>" <%=xDivAttributes%>>
    <label for="<%=fileId%>"><%=label%></label><br>
    <input type="file" id="<%=fileId%>" name="<%=fileName%>" <%=xfileAttributes%>>
</div>