<!--Template for file upload forms.-->
<div class="form-group my-3" id="<%=divId%>" <%=xDivAttributes%>>
    <label for="<%=fileId%>"><%=label%></label>
    <input type="file" id="<%=fileId%>" name="<%=fileName%>" <%=xfileAttributes%>>
</div>